{% extends 'base-prof.html.twig' %}

{% block title %}
    Tableau de bord
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tableau de bord</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">

        <!-- situations -->
        <div class="col-xl-3 col-lg-6">
            <div class="card" style="width: 20rem;">
                <div class="card-header text-white bg-primary">
                    <h4 class="card-title">
                        <i class="fa fa-server"></i>&nbsp;
                        <span id="nbSituations" class="badge badge-pill badge-light">0</span>&nbsp;Situations
                        <br />dont&nbsp;<span id="nbCommentaires" class="badge badge-pill badge-success">0</span>&nbsp;commentées
                    </h4>
                </div>
                <div class="card-body">
                    <div  class="card-text">
                        <span id="loaderSituations"><i class="fa fa-spinner fa-spin"></i>Traitement en cours</span>

                    </div>
                    <a id="btnSituationListe" href="{{  path("prof_situation_index") }}" class="btn btn-outline-primary btn-block" style="display: none">Voir la liste</a>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->
{% endblock %}

{% block javascripts %}
    {% javascripts
        'bundles/app/js/prof_home.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}