{% extends 'base-prof.html.twig' %}

{% block title %}
    Tableau de bord
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tableau de bord</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">

        <!-- étudiants  -->
        <div class="col-xl-4 col-lg-4">
            <div class="card" style="width: 20rem;">
                <div class="card-header text-white bg-info">
                    <h2 class="card-title">
                        <i class="fa fa-list"></i>&nbsp;
                        <span id="nbEtudiants" class="badge badge-pill badge-light">0</span>&nbsp;Etudiants
                    </h2>
                </div>
                <div class="card-body">
                    <div  class="card-text">
                        <div class="row">
                            <canvas id="chartjs-stageEtudiant" class="chartjs" ></canvas>
                        </div>
                        <div class="row">
                            <canvas id="chartjs-situationEtudiant" class="chartjs" ></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- stages -->
        <div class="col-xl-4 col-lg-4">
            <div class="card" style="width: 20rem;">
                <div class="card-header text-white bg-info">
                    <h2 class="card-title">
                        <i class="fa fa-list"></i>&nbsp;
                        <span id="nbStages" class="badge badge-pill badge-light">0</span>&nbsp;Stages
                    </h2>
                </div>
                <div class="card-body">
                    <div  class="card-text">
                        <span id="loaderStages"><i class="fa fa-spinner fa-spin"></i>Traitement en cours</span>
                        <div class="row">
                            <canvas id="chartjs-stage" class="chartjs" ></canvas>
                        </div>
                    </div>
                    <br />
                    <a id="btnStageListe" href="{{  path("prof_stage_index") }}" class="btn btn-outline-primary btn-block" style="display: none">Voir la liste</a>
                </div>
            </div>
        </div>

        <!-- situations -->
        <div class="col-xl-4 col-lg-4">
            <div class="card" style="width: 20rem;">
                <div class="card-header text-white bg-secondary">
                    <h2 class="card-title">
                        <i class="fa fa-list"></i>&nbsp;
                        <span id="nbSituations" class="badge badge-pill badge-light">0</span>&nbsp;Situations
                    </h2>
                </div>
                <div class="card-body">
                    <div  class="card-text">
                        <span id="loaderSituations"><i class="fa fa-spinner fa-spin"></i>Traitement en cours</span>
                        <div class="row">
                            <canvas id="chartjs-situation" class="chartjs" ></canvas>
                        </div>
                    </div>
                    <br />
                    <a id="btnSituationListe" href="{{  path("prof_situation_index") }}" class="btn btn-outline-primary btn-block" style="display: none">Voir la liste</a>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/Chart.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/prof_home.js') }}"></script>
{% endblock %}