{% extends 'base.html.twig' %}

{% block title %}
    Epreuve E22
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Epreuve E6 - Communication</h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <br />
    <h5>E6 - Préparation</h5>
    <p>
        <a href="{{  asset('files/e6_resume.pdf') }}" target="_blank" class="btn btn-outline-info"><i class="far fa-file-pdf" aria-hidden="true"></i>&nbsp; Description de l'épreuve E6</a> &nbsp;&nbsp;
    </p>
    <p>
        <a href="{{  asset('files/e6_conseil.pdf') }}" target="_blank" class="btn btn-outline-info"><i class="far fa-file-pdf" aria-hidden="true"></i>&nbsp;Conseils pour l'épreuve E6</a> &nbsp;&nbsp;
    </p>

{% endblock %}
